body {
  height: 100vh;
  margin: 0;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}
#center {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
div {
  background-color: teal;
  margin: 10px;
  width: 50px;
  height: 50px;
}
.solid {
  border: 2px solid white;
}
.dotted {
  border: 2px dotted white;
  width: 150px;
}
